page-departamentos {

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: red;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}











	
	/*.card-background-page{
    /*background-image: url('../../assets/imgs/1.jpg');*/
    /*background-size:100% 100%; 
    background-repeat: none;
      }*/

  /*.card-md{
  	border-radius: 10px;
  	position: relative;
    text-align: center;
   	background-color:transparent;
    border:2px solid black;
    /*background-color:transparent;*/

	/*TAMAÑO Y POSICION*/
  	/*float:left;
    width: 90%;
    margin-left:5%;
   	height: 180px;
  }*/
  /*p{
 	z-index: 10000;
 	color:#FFFFFF;
	font-size:20px;
	text-align: center;
	margin-top:calc((180px - 20px)/2);
 } */
 /*ion-card:hover {background-color:grey;}*/
}
